.container {
    padding: 20px;
    background-color: #3316d9;
}

.greeting {
    color: #13d229;
    font-size: 24px;
    font-weight: bold;
    padding: 15px;
    margin-bottom: 20px;
    background-color: rgb(211, 229, 17);
    border-radius: 8px;
}